// main events page
.node--type-event.node--view-mode-teaser {
  display: inline-block;
  margin: 20px auto;
  position: relative;
  width: 100%;
  height: auto;

  // event date badge
  .event-date {
    position: absolute;
    top: -12px;
    left: calc(50% - 120px);
    color: $white;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: $white;
    padding: 3px;

    @include media-breakpoint-up(sm) {
      left: 12px;
    }

    .event-date-wrapper {
      background-color: $pink;
      border-radius: 10px;
      width: 54px;
      height: 54px;
    }
  }

  // event day
  .event-date__event-day {
    @include cachet(500);
    font-size: 30px;
    line-height: 15px;
    padding: 12px 0 4px;
    letter-spacing: -1px;
    text-transform: uppercase;
  }

  // event month
  .event-date__event-month {
    @include cachet(500);
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -1px;
    text-transform: uppercase;
  }

  // event time (clock)
  .event-date__event-time {
    @include cachet(500);
    font-size: 18px;
    letter-spacing: -0.4px;
    color: #5c2e91;
  }

  // event image
  .event-image {
    min-height: 150px;

    &.empty {
      background: $gray-100;
      border-radius: 8px;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 3px 30px 2px rgba($black, .05);
    }
  }

  // event title
  .event-title h2 {
    @include cachet(500);
    font-size: 20px;
    letter-spacing: -0.5px;
    color: $gray-700;
    margin-top: 18px;
    margin-bottom: 18px;
    text-transform: uppercase;

    a {
      color: $gray-700;

      &:hover,
      &:focus {
        color: $gray-700;
        text-decoration: underline;
      }
    }
  }

  // event location
  .event-location {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(sm) {
      justify-content: flex-start;
    }

    a {
      @include cachet(500);
      font-size: 18px;
      letter-spacing: -0.4px;
      color: var(--y-color-blue-dark, #0060af);

      &:hover,
      &:focus {
        color: var(--y-color-blue-dark, #0060af);
        text-decoration: underline !important;
      }
    }
  }
}


// upcoming events
.paragraph--type--upcoming-events {
  .view-header,
  .view-footer {
    display: none;
  }

  .container > .row {
    flex-direction: column;
  }

  .upcoming-events__header-info.clearfix {
    text-transform: uppercase;
    border-bottom: solid 2px #d8d8d8;
    padding: 20px 0;
    line-height: 40px;
    margin-top: 35px;
    margin-bottom: 35px;
    h2 {
      margin: 0;
    }
  }

  .views-field-field-event-date {
    position: absolute;
    top: -12px;
    left: 30px;
    color: $white;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: $white;
    padding: 3px;

    .field-content {
      background-color: $indigo;
      border-radius: 10px;
      width: 54px;
      height: 54px;
      font-size: 14px;

      .day {
        font-size: 28px;
        line-height: 22px;
        padding-top: 10px;
      }
    }
  }

  .views-field-field-event-image {
    width: 100%;

    img {
      max-width: 100%;
      height: auto;
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 3px 30px 2px rgba($black, 0.05);
    }
  }

  .views-field-title {
    display: block;
    width: 100%;

    a {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: -0.5px;
      color: $gray-700;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  .views-field-field-event-location a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: $primary;

    &:hover {
      text-decoration: underline !important;
    }

    &:before {
      content: "\e943";
      font-family: "icomoon" !important;
      font-size: 20px;
      display: inline-block;
      vertical-align: text-top;
      margin: -4px 5px 0 -6px;
    }
  }

  .views-field-field-event-date-time {
    display: block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: $purple;
    float: left;
    width: 100%;
  }

  .views-field-field-event-date-time .field-content::before {
    font-family: "icomoon" !important;
    content: "\e948";
    font-size: 20px;
    display: inline-block;
    vertical-align: text-top;
    margin: -4px 6px 0 -5px;
  }
}

.row.event-info.header-info {
  .location-title a {
    color: $primary;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
    display: block;
  }

  .field-event-location a::before {
    content: "\e943";
    font-family: "icomoon" !important;
    font-size: 20px;
    display: inline-block;
    vertical-align: text-top;
    margin: 0 5px 0 -6px;
  }

  .field-event-date-time {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: $purple;

    &::before {
      font-family: "icomoon" !important;
      content: "\e948";
      font-size: 20px;
      display: inline-block;
      vertical-align: text-top;
      margin: -4px 6px 0 -5px;
    }
  }

  .info-item-wrapper {
    font-size: 18px;
  }

  .field-direction a,
  .field-calendar a {
    color: $indigo;
    font-size: 16px;
    line-height: 1.5;
    display: block;
  }

  .branch-phone {
    font-weight: 500;

    span {
      font-weight: normal;
      float: left;
    }

    a {
      color: $gray-400;
    }

    .field-location-email-id {
      color: $primary;

      &::before {
        font-family: "icomoon" !important;
        content: "\eb47";
        font-size: 20px;
        vertical-align: text-top;
        display: inline-block;
        margin-top: -4px;
        margin-right: 4px;
        color: $primary;
      }
    }
  }
}
