::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  font-style: italic;
}

.form-control {
  border: 1px solid $gray-300;
  border-radius: 0;
  font-size: 12px;
  text-shadow: none;
  padding: 6px 12px 6px 5px;

  &[readonly],
  &[disabled] {
    color: $gray-100 !important;
    background: transparent;
  }
}

.btn {
  @include cachet();

  &.blue {
    a {
      text-decoration: none;
    }
  }

  &.white-blue {
    background-color: $white;
    color: $light-blue;
    border: 1px solid $light-blue;

    &:hover {
      background-color: $light-blue;
      color: $white;
    }

    a {
      color: $light-blue;
      text-decoration: none;
    }
  }

  &.transparent-blue {
    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;

    &:hover {
      background-color: $primary;
      color: $white;
    }

    a {
      color: $primary;
      text-decoration: none;
    }

    @include media-breakpoint-down(lg) {
      display: block;
    }
  }

  &.btn-link {
    text-decoration: none;
  }
}

.select-wrapper {
  position: relative;

  &:before {
    position: absolute;
    content: '\f078';
    font-family: $font-awesome;
    font-weight: bold;
    font-size: 18px;
    right: 10px;
    top: 7px;
  }
}

.form-select {
  border: 1px solid $gray-300;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  background-color: $white;
  padding-right: 25px;

  ::-ms-expand {
    display:none;
  }
}

/* Prevent iphone from zooming in when filling out a form. */
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width : 999px)  {
  select,
  input,
  textarea {
    font-size: 16px!important;
  }
}

/* Styles for Guest pass form */
.yamlform-submission-guest-pass-form-form {
  padding: 15px 0;

  label {
    @include cachet();
    font-size: 18px;
    line-height: 23px
  }

  .form-control {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 6px 12px 6px 5px;
    border: solid 1px $gray-200;

    @include media-breakpoint-up(sm) {
      width: 80%;
    }

    @include media-breakpoint-up(lg) {
      width: 50%;
    }
  }

  .yamlform-button--submit {
    margin: 10px 0;
  }
}

.form-item {
  margin: 1em 0.75em;
}

.form-type-checkbox {
  padding: 0;
}

.captcha {
  margin: 1em 0.75em;

  .form-item {
    margin: 1em 0;
  }
}
