.global-search-results {

  .view-results-summary {
    font-weight: bold;
  }

  .views-exposed-form {

    @include rem(padding-bottom, 30px);

    .js-form-item-query {
      padding: 2px;
      position: relative;

      &:before {
        @include rem(left, 12px);
        @include rem(top, 12px);
        color: var(--wsPrimaryColor, $primary);
        content: "\f002";
        font: normal normal normal 14px/1 $font-awesome;
        position: absolute;
      }

      input {
        @include border-radius(5px);
        @include rem(padding-left, 30px);
      }
    }

    .form-actions {
      display: block;
      width: 100px;
      height: 50px;
      position: absolute;
      right: 0;
      top: 2px;

      input {
        width: 100%;
        margin: 0;
        height: 50px;
        border-radius: 0 8px 8px 0;
        background: var(--wsPrimaryColor, var(--y-color-blue-dark, $pink));
        color: white;
        border: none;
      }
    }

    .form-item {
      margin: 0;
      height: 50px;
      width: 100%;
      input {
        height: 50px;
        border: 1px solid $input-border-color;
        border-radius: 8px;
        font-size: 1rem;
        padding-left: 1rem;
      }
    }
    .view-results-summary {
      display: none;
    }
  }

  .item-list {

    ul {
      padding: 0;
      list-style: none;
    }

    li {
      @include rem(padding, 0 0 16px 0);
    }

    .views-field-title {
      font-weight: bold;
      margin-bottom: 1rem;
      a {
        font-size: 26px;
        color: var(--wsPrimaryColor, $primary);
      }
    }
  }
  nav.pager {
    text-align: center;

    a {
      @include cachet(800);
      border-radius: 8px;
      background-color: $gray-100;
      border: solid 1px $gray-100;
      color: var(--wsPrimaryColor, var(--y-color-blue-dark, $pink));
      width: 50px;
      height: 50px;
      padding: 0;
      line-height: 50px;
      font-size: 20px;
      display: inline-block;
    }
    .is-active a {
      color: $gray-800;
      font-size: 20px;
      font-weight: bold;
    }

    .pager__item--previous a,
    .pager__item--next a {
      background: transparent;
      border-radius: 8px;
      border: solid 1px $gray-200;
      color: var(--wsPrimaryColor, $primary);
      font-weight: 400;
      span {
        display: none;
      }
    }

    .pager__item--next a:before {
      content: "\f054";
      font-family: $font-awesome;
      font-weight: 900;
    }
    .pager__item--previous a:before {
      content: "\f053";
      font-family: $font-awesome;
      font-weight: 900;
    }
  }
}
