.mobile-logo {
  float: left;
  img, svg {
    height: 46px;
    width: auto;
  }
  svg {
    fill: $white;
  }
}

.logo {
  float: left;

  span {
    display: inline-block;
    height:100%;
  }
  img, svg {
    height: 46px;
    width: auto;
  }
  svg {
    fill: $white;
  }
  img:first-child {
    display: initial;
  }
  img:last-child {
    display: none;
  }
}

.layout-container .top-navs {
  &.affix {
    background: $white;
    .logo img:first-child {
      display: none;
    }
    .logo img:last-child {
      display: initial;
    }
  }
}

// background on fixed nav
.with-banner {
  @include media-breakpoint-down(sm) {
    padding-top: 78px !important;
  }

  .layout-container .top-navs {
    background-color: rgba($primary, .8);
    transition: background-color 0.5s ease;

    @include media-breakpoint-up(lg) {
      background-color: rgba($gray-700, 0.7);
    }

    &.affix {
      background-color: $gray-700;
    }

    &.affix.menu-in,
    &.menu-in {
      background-color: $primary;
    }
  }
}

.viewport {
  background-color: white;

  .nav-global {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  }
}

.site-name {
  @include cachet();
  font-size: 20px;
  color: $gray-300;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 44px;
}

// top menu (blue > mobile / black > desktop+ )
.page-head__top-menu {
  background-color: rgba($primary, .8);

  @include media-breakpoint-up(lg) {
    background-color: $black;
  }

  .navbar-nav {
    border-right: 1px solid #636466;
  }

  .navbar-nav > li {
    @include media-breakpoint-up(lg) {
      border-right: 1px solid $gray-400;
    }

    &:last-child {
      border: none;
    }

    > a {
      @include cachet();
      color: $gray-300;
      background-color: transparent !important;
      padding-bottom: 8px;
      padding-top: 8px;
      font-size: 18px;
      letter-spacing: -0.9px;
      text-shadow: none;
      text-transform: none;

      &:hover,
      &:focus {
        @include underline;
      }
    }
  }
}

// google translate widget
.goog-te-menu-frame.open {
  left: 0;
  top: 150px;
}



// header search
.page-head__search {
  padding: 24px 0;
  width: 100%;
  position: absolute;
  bottom: 0;

  form {
    display: block;
    margin: 0 10% 0 15%;
    position: relative;
    z-index: 1;
    background: transparent;
  }

  input[type="submit"] {
    display: none;
  }

  .search-input {
    width: 100%;
    display: inline-block;
  }
}

// search input field
.search-input {
  border: 1px solid $gray-200;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  line-height: 26px;
  padding: 7px 35px 7px 10px;
  font-size: 16px;
  color: $gray-400;

  @include media-breakpoint-up(lg) {
    padding: 7px 10px 7px 40px;
  }
}

// static search icon
.fa.search-input-decoration {
  position: absolute;
  font-size: 22px;
  color: $pink;
  width: 25px;
  right: 25px;
  top: 50%;
  margin-top: -12px;

  @include media-breakpoint-up(lg) {
    left: 10px;
    right: auto;
  }
}

// search close
.page-head__search-close {
  margin: 24px 0;
  height: 40px;
  position: absolute;
  right: 50px;
  bottom: 0;
  z-index: 1;
  color: $white;

  &:hover {
    color: $gray-200;
    text-decoration: none;
  }

  .fa {
    font-size: 22px;
    vertical-align: top;
  }
}

// primary nav search icon
.site-search .fa {
  vertical-align: top;
}

// remove outlines from search toggler
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}
