// gmap
.openy-map-canvas {
  height: 500px;
}

.openy-map-canvas.openy-map {
  z-index: 1;
}

// address (with marker icon)
.field-location-address {
  position: relative;
  padding-left: 25px;

  i {
    position: absolute;
    top: 5px;
    left: 0;
  }
}

.leaflet-popup {
  .node--type-facility.node--view-mode-teaser,
  .node--type-branch.node--view-mode-teaser,
  .node--type-camp.node--view-mode-teaser {
    box-shadow: none;
  }
}

.node--type-facility.node--view-mode-teaser,
.node--type-branch.node--view-mode-teaser,
.node--type-camp.node--view-mode-teaser {
  min-height: 300px;
  font-size: 15px;
  background-color: $white;
  box-shadow: 0 3px 30px 2px rgba(0,0,0,0.05);
  border-radius: 8px;
  border: none;
  position: relative;
  padding: 20px 20px 50px 20px;
  margin-bottom: 52px;

  > h2 {
    @include cachet(700);
    padding-bottom: 16px;
    font-size: 22px;
    margin: 5px 0 33px;
    border-bottom: 2px solid $primary;

    &.card-type--camp,
    &.card-type--facility {
      border-bottom: 2px solid $success;
    }
  }

  // title link
  .title-link {
    @include cachet(500);
    font-size: 25px;
    letter-spacing: -1.2px;
    text-transform: uppercase;

    i {
      margin-right: 8px;
      font-size: 22px;

      &:before {
        content: "\f594" !important;
      }
    }

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  .branch-info {
    position: inherit;
  }

  // button
  .button.branch-info a {
    @include cachet(700);
    position: absolute;
    bottom: -20px;
    left: calc(50% - 90px);
    border-radius: 8px;
    text-transform: uppercase;
    width: 180px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: center;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}

.openy-map-wrapper .messages {
  background-color: rgba($gray-100, .5);
}

.form__locations {
  background-color: rgba($gray-100, .5);
  height: 92px;
  display: table;
  width: 100%;
  padding: 35px 0;

  .filter-item {
    .form-group {
      width: 100%;

      label {
        text-transform: none;
        padding: 6px 8px;
        left: -1px;
        margin: 10px 10px 0 0;

        @include media-breakpoint-up(md) {
          left: -20px;
          margin: 0 10px 0 0;
        }
      }
      input[type="text"] {
        padding: 5px 15px;
      }

      @include media-breakpoint-up(sm) {
        margin-bottom: 0;
      }
    }
    &.zip-code {
      input {
        height: 38px;
        background-color: $white;
        border-color: $gray-200;
      }
      .btn-submit {
        .btn {
          border-radius: 0;
          background-color: var(--y-color-blue-dark, #0060af);
          color: $white;

          &:hover {
            background-color: var(--y-color-white, #ffffff);
            color: var(--y-color-blue-dark, #0060af);
            border-color: var(--y-color-blue-dark, #0060af);
          }
        }
      }
    }
    &.distance .form-group {
      position: relative;
      background: $white;

      &:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        color: $pink;
        content: '\f078';
        font-family: $font-awesome;
        font-size: 24px;
        font-weight: bold;
        margin-top: -18px;
        position: absolute;
        right: 10px;
        top: 50%;
        z-index: 0;
      }
      .form-select {
        position: relative;
        z-index: 1;
        background: transparent;
        border-color: $gray-200;
        padding: 0 15px;
        height: 38px;
      }
    }
    .tag_filters {
      label.btn-default {
        background-color: $white;
        border: 1px solid $gray-200;
        border-radius: 0;
        margin: 0;
        margin-right: 10px;
        position: initial;

        input[type="checkbox"] {
          margin: 0 10px 0 0;
        }
        img {
          margin: -2px 0 0 5px;
          width: 13px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    .filter-item {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.locations-list {
  margin: 0 -15px;

  .views-row__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 100%;
  }

  .views-row {
    display: flex;
    flex-grow: 0;
    flex-basis: 100%;

    @media (min-width: 600px) {
      flex-basis: 50%;
    }

    .node--view-mode-teaser {
      flex-basis: 100%;
      align-self: stretch;
    }
  }

  header h1,
  header h2,
  header h2.h1 {
    font-size: 36px;
    padding-left: 20px;
    padding-bottom: 20px;
    clear: both;
    margin-top: 0;
    font-weight: bold;
  }
}

.one-column-clean.landing-content, .landing-content.one-column {
  .locations-list {
    .views-row__wrapper {
      .views-row {
        @media (min-width: 1025px) {
          flex-basis: 33.33%;
        }
      }
    }
  }
}
