a[href="#step2"] {
  pointer-events: none;
}

#membership-calc-wrapper {

  form {
    fieldset {
      margin: 0 0 2rem 0;

      .fieldset-wrapper .form-radios {
        .card {
          height: 100%;
          padding: 1.25rem;

          &:has(input[name=type]:focus) {
            outline: auto;
          }

          &:has(input[name=type]:checked) {
            background-color: var(--y-color-light-grey-1, #f2f2f2);
          }

          .form-element-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            height: 100%;

            .card-text {
              display: none;
            }
          }
        }
      }
    }

    & > div.input-wrapper.position-relative {
      display: inline-block;

      &.edit-next, &.edit-submit {
        float: right;
      }
    }
  }

  .description,
  legend {
    @include cachet();
  }

  .description {
    padding-bottom: 1em;
    font-size: 20px;
    max-width: 840px;
    line-height: 1.45em;
    font-weight: bold;
  }

  legend {
    font-size: 24px;
    letter-spacing: -0.5px;
    color: $gray-400;
  }

  .form-type-radio {
    margin: 0;
  }

  .label-for-field-mbrshp-join-fee,
  .label-for-field-mbrshp-monthly-rate {
    float: left;
    margin-right: 0.5em;

    &:after {
      content: ":";
    }
  }

  input[name="type"] {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
  }

  .membership-type {
    .contextual-region {
      position: static;
    }

    .node--view-mode-calc-preview img {
      height: auto;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  input[type="radio"]:checked + .form-element-wrapper label .btn {
    background-color: $purple;
    box-shadow: 0 0 5px $purple;
  }


  .form-submit {
    border: none;
    padding: 10px 25px;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .calc-summary-col h2 {
    font-size: 34px;
  }

  // step tracker
  .nav-pills {
    @include cachet();
    font-size: 13px;

    @include media-breakpoint-up(sm) {
      font-size: 20px;
      line-height: 42px;
    }

    & > li {
      margin-bottom: 5px;
      overflow: hidden;

      @include media-breakpoint-up(sm) {
        &:last-child div {
          padding-left: 25px;
        }
      }

      div {
        position: relative;
        color: $white;
        background-color: $indigo;
        padding: 9px;

        a, a:hover, a:visited {
          text-decoration: none;
          color: white;
        }

        @include media-breakpoint-up(sm) {
          width: calc(100% - 30px);
        }

        &:before,
        &:after {
          position: absolute;
          top: 50%;
          margin-top: -60px;
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 60px solid transparent;
          border-bottom: 60px solid transparent;
          left: 100%;
        }

        &:before {
          border-left: 30px solid $white;
        }

        &:after {
          border-left: 30px solid $indigo;
        }
      }

      .step-1,
      .step-2 {
        @include media-breakpoint-up(sm) {
          width: calc(100% - 15px);
        }
      }

      .step-2 .nav-pills__text {
        margin-left: 5px;
      }

      &.active div,
      &:first-child div {
        background-color: $purple;
      }

      &.active div:after,
      &:first-child div:after {
        border-left: 30px solid $purple;
      }
    }

    li + li {
      margin-left: 0;
    }
  }
}

.views-view-membership .field-body-no-summary {
  font-size: 15px;
  padding-bottom: 110px;
}

.view-mode-thumb-262-233 {
  margin-bottom: 1em;
}

.wrapper-field-membership-info {
  display: flex;
  flex-wrap: wrap;
}

.form-item-location {
  flex-basis: 100%;
  margin-bottom: 5px;

  @include media-breakpoint-up(sm) {
    flex-basis: 33.33%
  }

  @include media-breakpoint-up(lg) {
    flex-basis: 25%;
  }

  input {
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
  }

  [class^="wrapper-"] > div {
    display: inline-block;
  }

  [class^="label-"]:after {
    content: ":";
  }

  .field-link {
    display: none;
  }
}

.membership-continue {
  display: none;
}

.price-month {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: $h2-font-size;
  font-family: $font-family-sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
