.program-header {
  .description {
    .field-program-description {
      @include cachet();
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@include media-breakpoint-up(md) {
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > img,
  .img-responsive, .thumbnail a > img,
  .thumbnail > img {
    display: inline-block;
  }
}

.sub-category-listing {
  .activity-group {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    @include media-breakpoint-up(md) {
      width: 33.33333333%;
      float: left;
    }

    .activity-item {
      margin-bottom: 30px;
      border: 1px solid #5c2e91;
      padding: 20px;
    }
  }

  .col-sm-8 {
    .activity-group {
      @include media-breakpoint-up(md) {
        width: 50%;
        float: left;
      }
    }
  }
}

.prices-wrapper {
  color: #333;

  h4 {
    font-size: 14px;
  }
}

.node--type-program-subcategory {
  .two-column {
    padding: 15px 0;
  }
}

[data-drupal-selector="edit-add-to-cart-button"] {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.ui-dialog {
  .ui-dialog-content {
    overflow: auto;
  }

  .ui-dialog-buttonpane {
    .ui-dialog-buttonset {
      button {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 2px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: $pink;
        color: $white;

        &:hover {
          background-color: $indigo;
        }
      }
    }
  }
  form {
    [data-drupal-selector="edit-actions"] .ajax-progress {
      left: auto !important;
      top: auto;
      margin-top: 0 !important;
      -webkit-background-clip: 0;
      right: -9px;
      bottom: 10px;
    }
  }
}

#schedules-search-listing-wrapper .branch-hours-wrapper .card {
  background-color: $pink;
}


#schedules-search-listing-wrapper .results .schedule-sessions-group-slider .slick-dots {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}


// main program header banners
.program-header {

  .banner-cta {
    overflow: hidden;
  }

  // banner icons
  .banner-icon {
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      max-width: 78px;
      max-height: 78px;
    }

    img {
      max-width: 100%;
    }
  }

  .description {
    @include cachet(500);
    font-size: 18px;
    line-height: 27px;

    @include media-breakpoint-up(sm) {
      font-size: 20px;
    }
  }

  &.purple {
    background-color: $purple;

    .description {
      color: $purple;
    }
  }

  &.green {
    background-color: $green;

    .description {
      color: $green;
    }
  }

  &.dark-green {
    background-color: $teal;

    .description {
      color: $teal;
    }
  }

  h1 {
    font-size: 32px;

    @include media-breakpoint-up(sm) {
      font-size: 50px;
    }
  }
}

// sub program listing items
.subprogram-listing-item {
  margin-top: 20px;
  margin-bottom: 25px;

  @include media-breakpoint-up(sm) {
    display: block;
    margin-bottom: 45px;
  }

  img {
    height: auto;
    width: auto;
    max-width: 100%;
  }

  .image {
    display: table-caption;
    margin-bottom: 20px;
    text-align: center;

    img {
      height: auto;
      width: 100%;
    }

    @include media-breakpoint-up(sm) {
      display: block;
      float: left;
      text-align: right;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;

      img {
        height: auto;
      }
    }
  }

  .title {
    h2 {
      font-size: 20px;
      line-height: 20px;
      margin: -2px 0 15px;
      color: $primary;
    }

    @include media-breakpoint-up(sm) {
      float: right;
    }
  }

  .content {
    font-size: 14px;
    line-height: 20px;
    color: $gray-500;

    @include media-breakpoint-up(sm) {
      float: right;
      padding-right: 0;
    }
  }

  .btn {
    color: $dark-blue;
    border-color: $dark-blue;
    &:hover {
      background-color: $dark-blue;
      color: $white;
    }
  }
}

.sub-category-classes-view {
  .controls-wrapper {
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: $sky-blue;

    a {
      display: inline-block;
      padding: 3px 15px;
    }
  }

  form {
    background-color: $sky-blue;
    margin-bottom: 20px;

    @include media-breakpoint-up(sm) {
      background-color: $gray-100;
      margin-bottom: 40px;
    }
  }

  .js-form-type-select {
    float: left;
    display: inline-block;
    padding: 10px 0 5px;
    width: 100%;

    @include media-breakpoint-up(sm) {
      padding: 15px 0;
      margin-right: 18px;
      width: 125px;
    }

    @include media-breakpoint-up(md) {
      width: 170px;
    }

    @include media-breakpoint-up(lg) {
      width: 200px;
    }

    label {
      @include cachet();
      font-size: 14px;
      line-height: 1.6;
      color: $gray-500;
      margin-bottom: 0;

      @include media-breakpoint-up(sm) {
        margin-bottom: 5px;
      }
    }

    select {
      @include cachet();
      text-transform: uppercase;
      color: $gray-500;
    }
  }

  .selects-container h2 {
    border-color: $gray-400;
    margin: 0 0 12px;

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  .form-actions {
    padding-top: 23px;
    padding-bottom: 23px;

    input {
      text-transform: uppercase;
      font-size: 18px;
      padding: 12px 0;
      width: 100%;
    }
  }

  .filters-main-wrapper {
    clear: both;

    @include media-breakpoint-up(sm) {
      background-color: rgba($blue, 0.25);
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .filters-container {
    clear: both;
    position: relative;
    border-top: 1px solid $gray-400;

    @include media-breakpoint-up(sm) {
      margin-top: 0;
      border: none;
    }

    .container {
      position: relative;
    }

    .filters-wrapper {
      padding-bottom: 5px;
      padding-top: 5px;

      @include media-breakpoint-up(md) {
        padding-bottom: 0;
        padding-top: 0;
        border: 0;
      }

      .label {
        @include cachet();
        color: $gray-500;
        display: block;
        font-size: 14px;
        margin-right: 20px;
        padding: 0;
        text-align: left;

        @include media-breakpoint-up(md) {
          display: inline-block;
        }
      }

      .filters {
        @include media-breakpoint-up(md) {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }

        .filter {
          @include cachet();
          background: rgba($gray-100, .3);
          border-radius: 4px;
          color: $gray-500;
          display: inline-block;
          font-size: 12px;
          height: 30px;
          line-height: 30px;
          text-transform: uppercase;
          white-space: nowrap;
          padding: 0 10px;
          margin: 0 5px 10px 0;

          @include media-breakpoint-up(md) {
            margin: 5px 20px 5px 0;
          }

          .remove {
            margin-left: 10px;
            line-height: 30px;

            @include media-breakpoint-up(md) {
              margin-left: 15px;
            }

            .fa {
              font-size: 13px;
              color: $primary;

              &:hover {
                color: $pink;
              }

              @include media-breakpoint-up(md) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  .activity-group {
    h2 {
      @include cachet(500);
      font-size: 30px;
      line-height: 1.6;
      letter-spacing: -0.8px;
      color: $purple;
      margin: 15px 15px 20px;
    }

    .row {
      margin-bottom: 40px;
    }

    .teaser-row {
      border: 1px solid $pink;
      margin: 0 15px;
      height: auto;
      text-decoration: none;
    }

    .inner {
      padding: 15px;
    }

    .node__content {
      color: $gray-600;
    }

    .views-field-title {
      @include cachet();
      font-size: 22px;
      line-height: 1;
      color: $primary;

      a {
        text-decoration: none;
        color: $primary;
      }
    }

    .views-field-field-body-no-summary {
      font-size: 15px;
      line-height: 1.5;
      color: $gray-600;
    }

    .activity-group-slider {
      .views-field-rendered-entity {
        margin: 0 15px;
        height: auto;

        * {
          text-decoration: none;
        }

        a:hover h3 {
          text-decoration: underline;
        }
      }

      .slick-track {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
      }

      .slick-arrow {
        background: none;
        color: $light-blue;
        padding: 0;
        z-index: 1;
        height: 40px;
        width: 40px;
        margin-top: -7px;

        &:before {
          color: $light-blue;
          display: none;
        }

        @include media-breakpoint-up(sm) {
          height: 70px;
          width: 50px;
        }

        .fa {
          font-size: 30px;

          @include media-breakpoint-up(lg) {
            font-size: 40px;
          }
        }

        &.slick-prev {
          left: -45px;
        }

        &.slick-next {
          right: -45px;
        }
      }

      .slick-dots li {
        button:before {
          opacity: 1;
          color: $gray-100;
        }

        &.slick-active button:before {
          opacity: 1;
          color: $pink;
        }
      }
    }
  }
}

.page-node-type-program-subcategory {
  .banner {
    .banner-background {
      height: 70px;
      position: static;

      @include media-breakpoint-up(md) {
        height: 350px;
      }
    }

    .banner-desktop-title {
      padding-top: 250px;
    }

    .banner-mobile-title {
      height: 84px;
      margin-bottom: 0;
      padding-top: 25px;
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-left: 40px;
        padding-top: 20px;
        text-align: left;
      }

      h1 {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 10px;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
          font-size: 40px;
          line-height: 44px;
        }
      }
    }
  }
}
