.site-alert {
  width: 100%;
}

.site-alert__wrapper {
  position: relative;
}

.site-alert__title {
  @include cachet();
  font-size: 16px;
  display: inline;
  padding-right: 0.7em;
}

.site-alert__content p {
  margin: 0;
}

.site-alert__cta {
  font-size: 12px;
}

.site-alert__dismiss {
  margin: auto;
  color: $white;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 10px;

  &:hover {
    color: $white;
    opacity: .7;
  }
}

.site-alert__icon,
.site-alert__icon {
  font-size: 26px;
  color: #ed1c24;
  position: absolute;
  top: 10px;
  left: 25px;

  .fa {
    position: absolute;
    z-index: 3;
  }
}

.site-alert__content,
.site-alert__content {
  display: inline;
  font-size: 14px;

  .field-body-no-summary a {
    color: $white;
  }
}

.site-alert__cta a {
  color: $white;
  white-space: initial;
}

.header-alerts-list,
.footer-alerts-list {
  z-index: 1;
  position: relative;

  .site-alert--header,
  .site-alert--footer {
    border: none;
    height: 100%;
    width: 100vw;
  }

  .site-alert--header,
  .site-alert--footer {
    div[role='article'] {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  .slick__arrow {
    margin: 0!important;
    position: relative !important;
    bottom: 62px;
  }

  .slick-slider {
    margin-bottom: 0;
  }

  .slick-track {
    display: flex;

    .slick-slide {
      display: flex;
      height: auto;
      min-height: 130px;
    }
  }

  .slick--view--alerts .container {
    @include media-breakpoint-up(lg) {
      position: relative;
    }
  }

  .slick__counter {
    display: none;
  }

  .slick-arrow {
    @include media-breakpoint-down(md) {
      bottom: calc(-16px - (-50%));
    }
    padding: 10px;
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    width: 20px;
    height: 32px;
    left: auto;
    line-height: 0;
    outline: none;
    position: absolute;
    text-decoration: none;
    bottom: calc(-32px - (-50%));

    &:before {
      color: $white;
      font-family: $font-awesome;
      font-size: 30px;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover:before {
      opacity: .7;
    }

    &.slick-disabled {
      opacity: .5;
      cursor: default;
    }
  }

  .header-alert,
  .footer-alert {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .site-alert__wrapper {
    margin: 0 auto;
    padding: 8px 48px;
  }

  @media (max-width: 992px) {
    .site-alert__wrapper {
      width: 100%;
    }
  }

  .site-alert__icon {
    margin-top: 8px;
  }

  .site-alert__cta {
    display: flex;

    .field-alert-link {
      display: flex;
      width: 100%;
      a {
        width: 100%;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #000 !important;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        background: #000;
        margin: auto;
        color: white !important;
        &:hover {
          background: #fff;
          border-color: #fff !important;
          color: #000 !important;
        }
      }
    }

    .site-alert__dismiss {
      margin: auto;
    }

    @media (max-width:767px) {
      .site-alert__dismiss {
        margin:  0 auto;
      }
    }
  }
}

.header-alerts-list,
.footer-alerts-list {
  .container {
    margin-top: -2px;

  }

  & > .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
  }

  .slick-prev {
    left: 0;

    &:before {
      content: "\f053";
    }
  }

  .slick-next {
    right: 0;

    &:before {
      content: "\f054";
    }
  }
}

.header-alerts-list .slick-track, .footer-alerts-list .slick-track {
  display: flex !important;
}

.slick-arrow[aria-disabled="true"],
.slick-disabled {
  visibility: visible !important;
}
