.paragraph--column-in-a-grid {
  .col-12:nth-child(3n-2) {
    h2 {
      color: var(--y-color-green-dark, #006b6b);
    }
    i.fa {
      color: var(--y-color-green-dark, #006b6b);
    }
  }

  .col-12:nth-child(3n-1) {
    h2 {
      color: var(--y-color-purple-dark, #dd5828);
    }
    i.fa {
      color: var(--y-color-purple-dark, #dd5828);
    }

    .more-link a {
      background: var(--y-color-purple-dark, #dd5828);
    }
  }

  .col-12:nth-child(3n) {
    h2 {
      color: var(--y-color-red-dark, #a92b31);
    }
    i.fa {
      color: var(--y-color-red-dark, #a92b31);
    }

    .more-link a {
      background: var(--y-color-red-dark, #a92b31);
    }
  }

  .col-12 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;

    .paragraph--type--grid-columns {
      border: none;
      background: $white;
      box-shadow: 0 3px 30px 2px rgba($black, 0.05);
      border-radius: 8px;
      margin-bottom: 18px;
      position: relative;
      width: 100%;

      & > .content {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }

  .inner {
    h2 {
      height: 50px;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: -1px;
      text-align: center;
      text-transform: uppercase;
      border-bottom: 2px solid;
      display: inline-block;
    }

    i {
      font-size: 30px;
    }

    .text {
      font-size: 15px;
      line-height: 1.5;
    }

    img {
      border-radius: 0 0 8px 8px;
      height: 100%;
      width: 100%;
    }

    .more-link {
      position: relative;
      margin: 0 auto;
      max-width: 100%;

      @include media-breakpoint-up(sm) {
        max-width: 80%;
      }

      span {
        position: relative;
        left: auto;
        background: $white;
      }

      a {
        @include cachet();
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: -1px;
        text-align: center;
        display: inline-block;
        color: $white;
        min-width: 180px;
        border-radius: 8px;
        margin: 0;
        padding: 8px 20px;
        background-color: var(--y-color-green-dark, #006b6b);
        border: 2px solid $white;

        &:hover {
          opacity: 0.85;
        }
      }
    }
  }
}
