{#
/**
 * @file
 * A template for summary section of the Membership Calculator.
 *
 * @deprecated please use templates from Open Y Membership Calculator module.
 *
 * Available variables:
 * - result: a data for finish step of the Membership Calculator.
 */
#}
<div class="calc-summary">
  <div class="selected-branch calc-summary-col">
    <h4 class="title">{{ 'Your branch'|t }}</h4>
    <div>{{ result.location }}</div>
  </div>
  <div class="selected-membership calc-summary-col">
    <h4 class="title">{{ 'Your membership'|t }}</h4>
    <div class="card">
      <div>{{ result.membership }}</div>
      {% if result.price %}
        <div class="membership-price-wrapper">
          <div class="price">
            <h4 class="price-month">
              <div>{{ 'Monthly'|t }}</div>
              <div>${{ result.price.monthly_rate }}</div>
            </h4>
            <label for="{{ element['#attributes'].id }}">
              <div class="btn btn-primary btn-lg">{{ 'Select'|t }}</div>
            </label>
          </div>
        </div>
      {% else %}
        <div class="price">
          {{ 'Unfortunately, selected branch doesn`t provide needed membership type. Please select other membership type or branch.'|t }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
