{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
<div class="breadcrumbs-wrapper d-none d-lg-block">
  <nav class="container" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumbs p-0 m-0">
    {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          {# Add aria-label to the first item because the text is usually hidden. #}
          {% if loop.index == 1 %}
              <a href="{{ item.url }}" aria-label="{{ item.text }}">{{ item.text }}</a>
          {% else %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% endif %}
        {% else %}
          <span>{{ item.text }}</span>
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
</div>
{% endif %}
