/**
 * AddToCalendar Blue Style
 * http://addtocalendar.com
 */

/* Base */
.addtocalendar var {
  display: none;
}

.addtocalendar {
  position: relative;
  display: inline-block;
  background: transparent !important;
}

.atcb-link {
  display: block;
  cursor: pointer;
}

.atcb-link ~ ul.active {
  display: block;
}

.atcb-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 170px;
  z-index: 400;
  border: 1px solid #bababa;
  border-radius: 2px;
  box-shadow: 0 0 5px #aaa;

  @include media-breakpoint-up(md){
    left: auto;
    right: 0;
  }
}

.atcb-list,
.atcb-item {
  list-style: none;
  margin: 0;
  padding: 0;
  background: $white;
}

.atcb-item {
  float: none;
  text-align: left;
}

.atcb-item-link {
  text-decoration: none;
  display: block;
  padding: 3px 10px;

  &:hover {
    background-color: $gray-200;
  }
}

.atcb-item.hover,
.atcb-item:hover {
  position: relative;
  z-index: 900;
  cursor: pointer;
  text-decoration: none;
}

/* Blue */
.atc-style-blue .atcb-link:before {
  margin-right: 8px;
  font-family: $font-awesome;
  content: "\f073";
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.atc-style-blue .atcb-list {
  width: 170px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 2px;
  box-shadow: 0 0 5px #aaa;
}

.atc-style-blue .atcb-list,
.atc-style-blue .atcb-item {
  background: $white;
  color: $black;
}

.atc-style-blue .atcb-item,
.atc-style-blue .atcb-item-link {
  line-height: 1.3em;
  vertical-align: middle;
  zoom: 1;
}

.atc-style-blue .atcb-item-link,
.atc-style-blue .atcb-item-link:hover,
.atc-style-blue .atcb-item-link:active,
.atc-style-blue .atcb-item-link:focus {
  color: $black;
  font-family: "Verdana";
  font-size: 14px;
  text-decoration: none;
  padding: 5px 15px;
}

.atc-style-blue .atcb-item-link:hover,
.atc-style-blue .atcb-item-link:active,
.atc-style-blue .atcb-item-link:focus {
  background-color: $gray-200;
}

.atc-style-blue .atcb-item.hover,
.atc-style-blue .atcb-item:hover {
  background: rgb(66, 129, 244);
}
