.btn-transparent {
  @include cachet();
  letter-spacing: -1px;
  background-color: transparent !important;
  border: 3px solid white !important;
  border-radius: 8px;
  padding: 10px 25px;
  line-height: 52px;
  min-width: 180px;
  color: $white;

  &:hover {
    opacity: 0.7;
  }
}

a.back-link,
a.follow-link,
.paragraph--type--grid-related-blog-posts .field-prgf-link a,
.y-news-view-list .comments_count a {
  @include cachet();
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 24px;
  color: $primary;
  text-transform: uppercase;

  &:hover {
    color: $pink;
  }
}

a.follow-link::after,
.paragraph--type--grid-related-blog-posts .field-prgf-link a::after,
.y-news-view-list .comments_count a::after {
  font-family: 'icomoon' !important;
  content: "\ec13";
  font-size: 24px;
  padding-left: 5px;
  color: $pink;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}

body .pager li.load_more_button > a {
  @include cachet();
  font-size: 20px;
  border-radius: 8px;
  letter-spacing: -1px;
}
