//
// Colours
// --------------------------------------------------

// grays
$white:    #fff !default;
$gray-100: #ebebeb;
$gray-200: #ccc;
$gray-300: #979797;
$gray-400: #636466;
$gray-500: #4f4f4f;
$gray-600: #333333;
$gray-700: #2f2f2f;
$gray-800: #777777;
$gray-900: #231f20;
$black:    #000 !default;


// openy colour palette
$sky-blue:            #bfe1f3;
$light-blue:          #00aeef;
$blue:                #0089d0;
$dark-blue:           #0060af;
$emerald:             #01a490;
$pink:                #c6168d;
$indigo:              #92278f;
$purple:              #5c2e91;
$red:                 #ed1c24;
$orange:              #f15922;
$yellow:              #fcaf17;
$green:               #20bdbe;
$teal:                #006b6b;
$cyan:                #01a490;

$bright-green:        #69ff00;
$green-aa:            #008485;
$dark-green-aa:       #007677;

$colors: () !default;
$colors: map-merge((
    "sky-blue":       $sky-blue,
    "light-blue":     $light-blue,
    "dark-blue":      $dark-blue,
), $colors);

// theme colours
$primary:           $blue !default;
$primary-darker:    $dark-blue;
$success:           $green-aa !default;

$theme-colors: () !default;
$theme-colors: map-merge((
    "pink":               $pink,
    "indigo":             $indigo,
    "purple":             $purple,
    "primary-darker":     $primary-darker,
    "orange":             $orange,
    "gray-100":           $gray-100,
    "gray-200":           $gray-200,
    "gray-300":           $gray-300,
    "gray-400":           $gray-400,
    "gray-500":           $gray-500,
    "gray-600":           $gray-600,
    "black":              $black,
), $theme-colors);

// Body
//
// Settings for the `<body>` element.
$body-bg:                   $white !default;
$body-color:                $gray-700;

// Links
//
// Style anchor elements.
$link-color:                $primary-darker;
$link-hover-decoration:     none;
$link-hover-color:          $primary;
$link-hover-decoration:     none;

//
// Typography
// --------------------------------------------------

$font-family-sans-serif:  "Cachet", sans-serif;
$headings-font-family:    $font-family-sans-serif;
$font-family-base:        Verdana, sans-serif;
$headings-font-weight:    400;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-size-base:              1rem !default;            // 16px
$font-size-sm:                ($font-size-base * .875); // 14px
$font-size-xs:                ($font-size-base * .625); // 10px

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-border-radius:            0;

// Navbar
$navbar-padding-y:                  1rem;
$navbar-padding-x:                  0;

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           rgba($white, .75);
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='4' stroke-linecap='square' stroke-miterlimit='8' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-dark-toggler-icon-close:    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='1 2 22 21' fill='#{$navbar-dark-color}'><path d='M0 0h24v24H0V0z' fill='none'/><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'/></svg>") !default;


// Navs
$nav-tabs-border-color:             $gray-200;
$nav-tabs-link-hover-border-color:  $gray-100 $gray-100 $nav-tabs-border-color;
$nav-tabs-link-active-color:        $gray-400;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $gray-200 $gray-200 $nav-tabs-link-active-bg;

// Lists
$list-inline-padding:         .5rem !default;

// Font Awesome font-family names.
$font-awesome: "Font Awesome 5 Free";
$font-awesome-brands: "Font Awesome 5 Brands";

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 1060px,
  xl: 1200px
) !default;


$table-dark-bg: #343a40;

// 2023 Y Brand Colors
:root {
  --y-color-red-dark: #a92b31;
  --y-color-rgb-red-dark: 169, 43, 49;
  --y-color-red: #ed1c24;
  --y-color-rgb-red: 237, 28, 36;
  --y-color-red-light: #f15922;
  --y-color-rgb-red-light: 241, 89, 34;
  --y-color-orange-dark: #dd5828;
  --y-color-rgb-orange-dark: 221, 88, 40;
  --y-color-orange: #f47920;
  --y-color-rgb-orange: 244, 121, 32;
  --y-color-orange-light: #fcaf17;
  --y-color-rgb-orange-light: 252, 175, 23;
  --y-color-green-dark: #006b6b;
  --y-color-rgb-green-dark: 0, 107, 107;
  --y-color-green: #01a490;
  --y-color-rgb-green: 1, 164, 144;
  --y-color-green-light: #20bdbe;
  --y-color-rgb-green-light: 32, 189, 190;
  --y-color-blue-dark: #0060af;
  --y-color-rgb-blue-dark: 0, 96, 175;
  --y-color-blue: #0089d0;
  --y-color-rgb-blue: 0, 137, 208;
  --y-color-blue-light: #00aeef;
  --y-color-rgb-blue-light: 0, 174, 239;
  --y-color-purple-dark: #5c2e91;
  --y-color-rgb-purple-dark: 92, 46, 145;
  --y-color-purple: #92278f;
  --y-color-rgb-purple: 146, 39, 143;
  --y-color-purple-light: #c6168d;
  --y-color-rgb-purple-light: 198, 22, 141;
  --y-color-white: #ffffff;
  --y-color-rgb-white: 255, 255, 255;
  --y-color-light-grey-1: #f2f2f2;
  --y-color-rgb-light-grey-1: 242, 242, 242;
  --y-color-light-grey-2: #e7e7e7;
  --y-color-rgb-light-grey-2: 231, 231, 231;
  --y-color-light-grey-3: #cccccc;
  --y-color-rgb-light-grey-3: 204, 204, 204;
  --y-color-grey-1: #636466;
  --y-color-rgb-grey-1: 99, 100, 102;
  --y-color-grey-2: #4f4f4f;
  --y-color-rgb-grey-2: 79, 79, 79;
  --y-color-grey-3: #3f4042;
  --y-color-rgb-grey-3: 63, 64, 66;
  --y-color-dark-grey-1: #2f2f2f;
  --y-color-rgb-dark-grey-1: 47, 47, 47;
  --y-color-dark-grey-2: #231f20;
  --y-color-rgb-dark-grey-2: 35, 31, 32;
  --y-color-black: #000000;
  --y-color-rgb-black: 0, 0, 0;
}
