html,
body {
  height: 100%;
  position: relative;
  margin-top: 0;
}

ol, ul {
  padding-left: 1.5em;

  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  color: $white;
  font-size: 12px;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-lg;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }

  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: var(--y-color-grey-1, #636466);
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }
}

.btn:not(.btn-link) {
  @include cachet-book();
}

// Media fix for BS.
.media-image.media,
.media--type-video.media,
.media--type-video-upload.media {
  display: block;

  img {
    max-width: 100%;
    height: auto;
  }
}

// resize navtabs sizing
.nav-tabs {
  font-size: 0.875em;

  li a {
    padding: 5px 12px;
  }
}

.hidden {
  display: none !important;
}

.block-description--text .fa {
  color: inherit;
}

.bookmarked-items-modal-content .cart-items .item .actions .register {
  color: $white;
}
